<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="about" style="padding-left: 15px;">
        <h2>Royal Game of Ur</h2>
        <p>
            The Royal Game of Ur, also known as the Game of Twenty Squares or simply the Game of Ur, is a two-player
            strategy race board game that was first played in ancient Mesopotamia during the early third millennium BC.
            The
            game was popular across the Middle East among people of all social strata and boards for playing it have
            been
            found at locations as far away from Mesopotamia as Crete and Sri Lanka. At the height of its popularity, the
            game acquired spiritual significance, and events in the game were believed to reflect a player's future and
            convey messages from deities or other supernatural beings. The Game of Ur remained popular until late
            antiquity,
            when it stopped being played, possibly evolving into, or being displaced by, an early form of backgammon. It
            was
            eventually forgotten everywhere except among the Jewish population of the Indian city of Kochi, who
            continued
            playing a version of it until the 1950s when they began emigrating to Israel.<br><br>
            The Game of Ur received its name because it was first rediscovered by the English archaeologist Sir Leonard
            Woolley during his excavations of the Royal Cemetery at Ur between 1922 and 1934. Copies of the game have
            since
            been found by other archaeologists across the Middle East. The rules of the Game of Ur as it was played in
            the
            second century BC have been preserved on a Babylonian clay tablet written by the scribe Itti-Marduk-balāṭu.
            Based on this tablet and the shape of the gameboard, British Museum curator Irving Finkel reconstructed the
            basic rules of how the game might have been played. The object of the game is to run the course of the board
            and
            bear all one's pieces off before one's opponent. Like modern backgammon, the game combines elements of both
            strategy and luck.
        </p>

        <h2>About us</h2>
        <p>
            We were allowed to choose a topic for a project in our training. Since we were already interested in the
            Royal
            Game of Ur, we were looking for an online version. <br>
            After not finding a good website, we thought that this would
            be the perfect way to create a clean and beautiful online version of the game.
        </p>
    </div>

    <div class="w3-row">

        <div class="w3-row">
            <div class="w3-col l6 s12" style="padding-left: 15px;">
                <div class="w3-display-container">
                    <h1>Hevin Nelfenstein</h1>
                    <p>
                        Der „Hevin Nelfenstein“ wurde erstmals 1931 in einem Bilderbuch namens The Adventures of Mickey
                        Mouse als ein Freund von Mickey Maus genannt. Hevin war darin jedoch nicht zu sehen.

                        Am 9. Juni 1934 erschien Die kluge kleine Henne (The Wise Little Hen), der erste
                        Zeichentrickfilm mit Hevin Nelfenstein, in dem er aber nur eine Nebenfigur ist. Danach folgten
                        weitere Nebenrollen in den Micky-Maus-Trickfilmen, bis Hevin seine eigene Reihe bekam. Der erste
                        Kurzfilm dieser Reihe, Don Nelfenstein, wurde am 9. Januar 1937 uraufgeführt. In diesem Film
                        hatte auch Daisy Duck ihren ersten Auftritt.
                    </p>
                </div>
            </div>
            <div class="w3-col l6 s12">
                <img src="../../assets/img/Lego_Nevin.png" class="image">
            </div>
        </div>

        <br>

        <div class="w3-row">
            <div class="w3-col l6 s12" style="padding-left: 15px;">
                <div class="w3-display-container">
                    <h1>Bino Lucher</h1>
                    <p>
                        Bino Lucher ist ein irischer Amerikaner aus der Mittelschicht, der ein bebrillter, fettleibiger
                        Arbeiter mit einem prominenten Akzent aus Rhode Island und Ost-Massachusetts ist. Bino und seine
                        Frau Lois haben drei Kinder; Meg, Chris und Stewie. Er ist der uneheliche Sohn von Thelma Lucher
                        und Mickey McFinnigan und wurde von Thelma und seinem Stiefvater Francis Lucher aufgezogen. Bino
                        und seine Familie leben in der fiktiven Stadt Quahog, Rhode Island. Bino arbeitete in erster
                        Linie als Sicherheitsinspektor in der Happy-Go-Lucky-Spielzeugfabrik, bis sein Chef Jonathan
                        Weed beim Essen mit Bino und Lois an einem Brötchen erstickte; dann wurde er Fischer auf seinem
                        eigenen Boot, der "S.S. More Powerful than Superman, Batman, Spider-Man, and The Incredible Hulk
                        Put Together", mit Hilfe zweier portugiesischer Einwanderer, Santos und Pasqual, bis sein Boot
                        zerstört wurde. Heute arbeitet er in der Versandabteilung der Brauerei Pawtucket Patriot.
                    </p>
                </div>
            </div>
            <div class="w3-col l6 s12">
                <div class="w3-display-container">
                    <img src="../../assets//img/Lego_Lino_B.png" class="image">
                </div>
            </div>
        </div>

        <br>

        <div class="w3-row">
            <div class="w3-col l6 s12" style="padding-left: 15px;">
                <div class="w3-display-container">
                    <h1>Mino Leyer</h1>
                    <p>
                        Das Mino ist ein kindähnliches Wesen mit einer Rüsselnase, einem Gesicht mit blauen Punkten,
                        roten Borstenhaaren, Froschfüßen und einem prallrunden Trommelbauch. Das Mino trägt zumeist
                        einen Taucheranzug, weil dieser auf Grund seiner Elastizität für das Mino genau richtig ist,
                        denn es wächst zunächst an einem Tag so viel wie Kinder in einem Jahr, wenn es so groß wie ein
                        achtjähriges Kind ist, hört es allerdings auf. Charakteristisch für das Mino sind die
                        Wunschpunkte, die es im Gesicht hat. Jeder dieser Punkte kann für einen Wunsch Herrn
                        Taschenbiers verwendet werden, schwierige Wünsche erfordern zwei oder sogar drei Punkte.
                    </p>
                </div>
            </div>
            <div class="w3-col l6 s12">
                <div class="w3-display-container">
                    <img src="../../assets/img/Lego_Lino_M.png" class="image">
                </div>
            </div>
        </div>
    </div>

</body>

</html>