<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="grid">
        <div class="row">
            <div class="item" name="7"><img class="images" src="../assets/img/special-field.svg"></div>
            <div class="item" name="8"><img class="images" src="../assets/img/field.svg"></div>
            <div class="item" name="3"><img class="images" src="../assets/img/special-field.svg"></div>
        </div>
        <div class="row">
            <div class="item" name="6"><img class="images" src="../assets/img/field.svg"></div>
            <div class="item" name="9"><img class="images" src="../assets/img/field.svg"></div>
            <div class="item" name="2"><img class="images" src="../assets/img/field.svg"></div>
        </div>
        <div class="row">
            <div class="item" name="5"><img class="images" src="../assets/img/field.svg"></div>
            <div class="item" name="10"><img class="images" src="../assets/img/field.svg"></div>
            <div class="item" name="1"><img class="images" src="../assets/img/field.svg"></div>
        </div>
        <div class="row">
            <div class="item" name="4"><img class="images" src="../assets/img/field.svg"></div>
            <div class="item" name="11"><img class="images" src="../assets/img/special-field.svg"></div>
            <div class="item" name="0"><img class="images" src="../assets/img/field.svg"></div>
        </div>
        <div class="row">
            <div class="emptyitem"></div>
            <div class="item" name="12"><img class="images" src="../assets/img/field.svg"></div>
            <div class="emptyitem"></div>
        </div>
        <div class="row">
            <div class="emptyitem" name="21"></div>
            <div class="item" name="13"><img class="images" src="../assets/img/field.svg"></div>
            <div class="emptyitem" name="18"></div>
        </div>
        <div class="row">
            <div class="item" name="20"><img class="images" src="../assets/img/special-field.svg"></div>
            <div class="item" name="14"><img class="images" src="../assets/img/field.svg"></div>
            <div class="item" name="17"><img class="images" src="../assets/img/special-field.svg"></div>
        </div>
        <div class="row">
            <div class="item" name="19"><img class="images" src="../assets/img/field.svg"></div>
            <div class="item" name="15"><img class="images" src="../assets/img/field.svg"></div>
            <div class="item" name="16"><img class="images" src="../assets/img/field.svg"></div>
        </div>
    </div>

    <div class="playergrid">
        <div class="player">
            <h3>Player Black</h3>
            Number of stones in base: {{gameState.player.notYetPlayedStones}}<br>
            Finished stones: {{gameState.player.finishedStones}}/7<br><br>
        </div>

        <div class="player">
            <h3>Player White</h3>
            Number of stones in base: {{gameState.ai.notYetPlayedStones}}<br>
            Finished stones: {{gameState.ai.finishedStones}}/7<br><br>
        </div>

        <div>
            <div class="buttongrid">
                <button class="throwDice playButtons" (click)="throwDice()">Throw Dice</button>
                <button class="playButtons placeStone" (click)="placeStone()" disabled>Place new Stone on Board</button>
                <button class="skipTurn playButtons" (click)="skipTurn()" disabled>Skip Turn</button>
                <button class="playButtons" (click)="downloadJSON()">Download Gamestate</button>
                <button class="playButtons" (click)="loadgame()">Load Gamestate</button>
                <button class="playButtons" (click)="goToPreviousGameState()">Undo one move</button>
            </div>

            <input class="hidden" type="file" id="upload-file" name="upload-file" accept=".json" ngf-max-size="5KB"
                (change)="addAttachment($event)">
        </div>

        <p class="diceresult">{{diceRoll}}</p>
    </div>

</body>

</html>