.grid {
    margin-top: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: 140px 140px 140px 140px 140px 140px 140px 140px;
    padding: 10px;
  }

  .playergrid{
    margin-top: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: 250px 250px 530px;
    padding: 10px;
  }

  .buttongrid{
    justify-content: center;
    display: grid;
    grid-template-columns: 125px 125px 125px 125px;
    padding: 10px;
  }

  .playButtons{
    height: 100px;
    margin-left: 10px;
    color: black;
    border-radius: 15px;
  }


  .diceresult{
    height: 100px;
    font-size: larger;
    padding-left: 20px;
  }

.item {
    font-size: 30px;
    padding: 5px;
    text-align: center;
    position: relative;
  }

.emptyitem {
    margin-bottom: 2px;
    padding: 20px;
    height: 140px;
    font-size: 30px;
    text-align: center;
  }

  .images{
    position: relative;
  }

  .stones{
    position: absolute;
  }